:root {
  --box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  --text-main: #222;
  --c-yellow-pastel: #fefdf7;
  --text-secondary: rgb(75, 85, 99);
}

body {
  font-family: -apple-system, Inter, system-ui, Avenir, Helvetica, Arial,
  sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  padding-top: 32px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  background-color: var(--c-yellow-pastel);
}

header img {
  max-width: 100%;
  max-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main section */
.main-section-wrapper {
  width: 100%;
  background-color: var(--c-yellow-pastel);
  padding-bottom: 32px;
  box-shadow: var(--box-shadow);
}

.main-section {
  max-width: 700px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section .title {
  font-weight: 700;
  font-size: 42px;
  margin: 0;
  padding: 0 0 16px;
  text-align: center;
}

.main-section .description {
  font-size: 18px;
  color: var(--text-secondary);
  padding: 0;
  margin: 0;
  text-align: center;
}

.highlight {
  background-color: #fff2b3;
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline;
  transition: background-color 0.3s ease;
}

.highlight:hover {
  background-color: #ffe57f;
}

.get-extension {
  background: rgb(79, 70, 229);
  color: #fff;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
  border: none;
  box-shadow: var(--box-shadow);
  align-self: center;
}

.get-extension:hover {
  background: rgb(79, 70, 229, 0.9);
}

.get-extension:active {
  transform: scale(0.98);
}

.features {
  padding: 0 16px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.features h2 {
  text-align: center;
}

.features li {
  font-size: 24px;
  padding: 8px 0;
}

.faq {
  padding: 0 16px;
  margin-bottom: 48px;
  max-width: 600px;
}

.faq h2 {
  text-align: center;
}

.faq li {
  font-size: 24px;
}

.faq .answer {
  font-size: 18px;
}

.faq .question {
  font-weight: 500;
}

footer {
  background-color: var(--c-yellow-pastel);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--text-secondary);
  box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.1);
}

.link-no-style {
  text-decoration: none;
  color: inherit;
}
